.column {
    display: flex;
    /* padding: 10px; */
    flex-direction: column;
}

.column button {
    border: 1px solid var(--main_color);
    border-radius: 10px;
    background: var(--main_color);
    padding: 5px;
    color: white;
    max-width: 200px;
}

.column small {
    color: red;
    font-size: 0.7rem;
}

.column form {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;

}

.column form input {
    border-radius: 10px;
    border: 1px solid var(--main_color);
    padding: 3px;
}