.footer {
  background: #262626;
  /* background : #303441; */
  padding: 50px 10px 20px;
  color: rgb(245 255 255 / 80%);
}
.footer h2 {
  /* text-align: center; */
  /* font-size: 144px; */
  color: white;
  font-size: clamp(20px, 3vw, 40px);
  font-style: italic;
  font-weight: 700;
  /* line-height: 115px; 79.861% */
  text-transform: uppercase;
  margin-bottom: 24px;
  /* background: linear-gradient(269deg, #d5caca -29.76%, #a77e5a 95.61%); */
  /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.footerImage {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px auto;
}
.logoWrap{
  width: 220px;
  height: 60px;
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
}
@media (max-width: 991.98px) {
  .logoWrap{
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .logoWrap{
    margin-bottom: 15px;
  }
}
.footer p {
  width: 90%;
}
.column {
  margin-bottom: 20px;
}
.column h3 {
  margin: 0 0 15px;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: clamp(16px, 2vw , 18px);
  /* text-align: left; */
  /* padding: 10px 10px 15px; */
}
.column a {
  /* font-size: 16px; */
  font-size: clamp(14px, 2vw , 16px);

  margin-bottom: 5px;
}
/* .column:nth-of-type(3) a{
  text-decoration:underline ;
} */
/* .column h3::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--main_color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  } */
.info {
  padding: 5px 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.info p {
  margin-bottom: 0;
  margin-left: 10px;
}
.Links {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.Links a {
  padding: 5px 0;
  font-weight: 500;
  /* font-size: clamp(16px, 2vw, 18px); */
}
.Links a:hover {
  color: white;
}

.iconsSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.iconsSec a {
  display: block;
  padding: 10px;
  font-size: clamp(18px, 4vw, 22px);
  /* color: var(--main_color) */
}
.iconsSec a:hover {
  color: black;
}
.rights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rights p {
  margin-bottom: 0;
}
.rights a:hover {
  color: white;
}


.Payments {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.Payments span {
  display: block;
  font-size: 35px;
  margin: 8px;

  /*padding: 10px 15px;
  */ /*border: 1px solid white;
  */
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.Payments span:first-of-type {
   /* margin: 10px 0; */
   margin-left: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}
.form button {
  flex: 1;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
  /* width: 100%; */
  color: white;
  padding: 10px 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-radius: 6px;
  background: var(--main_color);
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.03),
    0px 1px 3px 0px rgba(42, 51, 66, 0.06);
}

/* @media (max-width: 767.98px) {
  .form {
    margin-bottom: 5px;
  }
} */


@media (max-width: 767.98px) {
  .rights {
    justify-content: center;
  }
  .footer p {
    width: 100%;
  }
  /* .column h2 {
    text-align: left;
  } */
 .right {
  text-align: right;
 }
 .left{
  text-align: left;
 }
  .rights p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .form{
    margin-bottom: 30px;
  }
}