.banner_section {
  width: 100%;
  min-height: 468px;
  height: 100vh;
  padding-top: var(--header-y);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  @media (max-width: 991.98px) {
    min-height: 376px;
  }
  @media (max-width: 575.98px) {
    min-height: 320px;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background: var(--black_color);
  }
  .image_header {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .banner_info {
    width: 100%;
    text-align: center;
    padding: 15px;
    & > * {
      margin-top: 25px;
      margin-bottom: 25px;
      @media (max-width: 1551.98px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @media (max-width: 991.98px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    h1 {
      font-size: clamp(32px, 6vw, 80px);
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      color: #ceaf92;
      margin-bottom: 35px;
      @media (max-width: 1551.98px) {
        margin-bottom: 25px;
      }
      @media (max-width: 991.98px) {
        margin-bottom: 15px;
      }
    }
    h2 {
      font-size: clamp(24px, 4vw, 40px);
      line-height: 1.2;
      color: var(--white_color);
      font-weight: 700;
    }
    p {
      font-size: clamp(14px, 2vw, 22px);
      line-height: 1.3;
      font-weight: 500;
      color: var(--white_color);
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
    }
    .btn_wrap a {
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.who_section {
  width: 100%;
  height: auto;
  padding: 60px 0 30px;
  position: relative;
  z-index: 0;
  @media (max-width: 991.98px) {
    padding: 40px 0 25px;
  }
  @media (max-width: 575.98px) {
    padding: 30px 0 20px;
  }
  .dElmt_1 {
    width: 920px;
    height: 920px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 0.3;
    @media (max-width: 1199.98px) {
      width: 576px;
      height: 576px;
    }
    @media (max-width: 991.98px) {
      width: 376px;
      height: 376px;
    }
    @media (max-width: 575.98px) {
      width: 220px;
      height: 220px;
    }
  }
  .dFlx {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    @media (max-width: 991.98px) {
      margin: 0 -10px;
    }
    @media (max-width: 575.98px) {
      margin: 0 -5px;
    }
    & > * {
      padding: 20px;
      @media (max-width: 991.98px) {
        padding: 10px;
      }
      @media (max-width: 575.98px) {
        padding: 5px;
      }
    }
    & > .lftSd {
      width: 820px;
      @media (max-width: 1399.98px) {
        width: 700px;
      }
      @media (max-width: 1199.98px) {
        width: 600px;
      }
      @media (max-width: 991.98px) {
        width: 100%;
      }
    }
    & > .rgtSd {
      width: calc(100% - 820px);
      @media (max-width: 1399.98px) {
        width: calc(100% - 700px);
      }
      @media (max-width: 1199.98px) {
        width: calc(100% - 600px);
      }
      @media (max-width: 991.98px) {
        width: 100%;
      }
    }
    & > .w_100 {
      width: 100%;
    }
  }
  .cntWrap {
    width: 100%;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p {
      font-size: 20px;
      @media (max-width: 1199.98px) {
        font-size: 18px;
      }
      @media (max-width: 991.98px) {
        font-size: 16px;
      }
      @media (max-width: 575.98px) {
        font-size: 14px;
      }
      &:last-of-type{
        margin: 0;
      }
    }
  }
  .imgWrap {
    width: 100%;
    height: 100%;
    min-height: 276px;
    overflow: hidden;
    border-radius: 14px;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .itemFlx {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 991.98px) {
      margin: 0 -10px;
    }
    @media (max-width: 575.98px) {
      margin: 0 -4px;
    }
    & > .item {
      width: 100%;
      @media (max-width: 991.98px) {
        width: calc(100% / 3);
        padding: 0 10px;
      }
      @media (max-width: 575.98px) {
        padding: 0 4px;
      }
      &:not(:last-of-type) {
        margin-bottom: 25px;
        @media (max-width: 991.98px) {
          margin-bottom: 0;
        }
      }
    }
  }
  .countBx {
    --pad-xy: 30px;
    width: 100%;
    height: auto;
    background-color: var(--white_color);
    border-radius: 14px;
    box-shadow: 0 0 20px 20px rgba(black, 0.02);
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: var(--pad-xy);
    transition: background 0.4s ease;
    @media (max-width: 1199.98px) {
      --pad-xy: 20px;
    }
    @media (max-width: 991.98px) {
      --pad-xy: 10px;
      height: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }
    @media (max-width: 575.98px) {
      --pad-xy: 5px;
    }
    &:hover {
      background-color: var(--main_color);
      .dElmt_1,
      .dElmt_2 {
        opacity: 0.6;
        filter: brightness(0) saturate(100%) invert(92%) sepia(100%);
      }
      .dElmt_2 {
        opacity: 0.1;
      }
      .iconWrap {
        img {
          filter: brightness(0) saturate(100%) invert(92%) sepia(100%)
            saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
        }
      }
      .cntWrap {
        .num {
          color: var(--white_color);
          background: none;
          -webkit-text-fill-color: var(--white_color);
        }
        .txt {
          color: var(--white_color);
        }
      }
    }
    & > * {
      margin: 20px;
      @media (max-width: 1551.98px) {
        margin: 15px;
      }
      @media (max-width: 1199.98px) {
        margin: 8px;
      }
      @media (max-width: 991.98px) {
        margin: 6px;
      }
      @media (max-width: 575.98px) {
        margin: 4px;
      }
    }
    .dElmt_1 {
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: -1;
      top: calc(var(--pad-xy) / 2);
      left: calc(var(--pad-xy) / 2);
      margin: 0;
    }
    .dElmt_2 {
      width: 100%;
      max-width: 200px;
      height: calc(100% - calc(var(--pad-xy) * 2));
      position: absolute;
      z-index: -1;
      top: var(--pad-xy);
      right: var(--pad-xy);
      bottom: var(--pad-xy);
      margin: 0;
      opacity: 0.2;
      @media (max-width: 991.98px) {
        max-width: 100%;
        height: 80px;
        top: 10px;
        right: 0;
      }
      @media (max-width: 575.98px) {
        height: 60px;
      }
    }
    .iconWrap {
      width: 80px;
      height: 80px;
      position: relative;
      @media (max-width: 1551.98px) {
        width: 60px;
        height: 60px;
      }
      @media (max-width: 1199.98px) {
        width: 55px;
        height: 55px;
      }
      @media (max-width: 991.98px) {
        width: 40px;
        height: 40px;
      }
      @media (max-width: 575.98px) {
        width: 30px;
        height: 30px;
      }
    }
    .cntWrap {
      width: calc(100% - 120px);
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 20px;
      @media (max-width: 1199.98px) {
        gap: 10px;
      }
      @media (max-width: 991.98px) {
        gap: 6px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
      }
      @media (max-width: 375.98px) {
        gap: 4px;
      }
      .num {
        font-size: 64px;
        line-height: 1;
        font-weight: 700;
        background: linear-gradient(260deg, #262626 -29.76%, #c08450 95.61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: -moz-fit-content;
        width: fit-content;
        @media (max-width: 1551.98px) {
          font-size: 52px;
        }
        @media (max-width: 1199.98px) {
          font-size: 38px;
        }
        @media (max-width: 991.98px) {
          font-size: 36px;
          text-align: center;
        }
        @media (max-width: 575.98px) {
          font-size: 26px;
        }
        @media (max-width: 375.98px) {
          font-size: 22px;
        }
      }
      .txt {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        text-align: start;
        color: var(--black_color);
        @media (max-width: 1199.98px) {
          font-size: 18px;
        }
        @media (max-width: 991.98px) {
          font-size: 14px;
          text-align: center;
        }
        @media (max-width: 575.98px) {
          font-size: 12px;
        }
        @media (max-width: 375.98px) {
          font-size: 10px;
        }
      }
    }
  }
}

.news_section {
  width: 100%;
  height: auto;
  padding: 30px 0;
  position: relative;
  z-index: 0;
  @media (max-width: 991.98px) {
    padding: 25px 0;
  }
  @media (max-width: 575.98px) {
    padding: 20px 0;
  }
  .tleFlx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    @media (max-width: 991.98px) {
      margin-bottom: 15px;
    }
    @media (max-width: 575.98px) {
      margin-bottom: 10px;
    }
    .tleWrap,
    .mTle {
      margin: 0;
    }
  }
  .dFlx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
    @media (max-width: 1551.98px) {
      margin: 0 -10px;
    }
    @media (max-width: 575.98px) {
      margin: 0 -5px;
    }
    & > .item {
      width: calc(100% / 3);
      padding: 10px 20px;
      @media (max-width: 1551.98px) {
        padding: 10px;
      }
      @media (max-width: 991.98px) {
        width: calc(100% / 2);
      }
      @media (max-width: 575.98px) {
        width: 100%;
        padding: 5px;
      }
    }
  }
}

.program_section {
  width: 100%;
  height: auto;
  padding: 40px 0;
  position: relative;
  z-index: 0;
  @media (max-width: 991.98px) {
    padding: 30px 0;
  }
  @media (max-width: 575.98px) {
    padding: 20px 0;
  }
}
