.profile {
  padding: 50px 44px;
  background-color: #f9f6f3;


}
.payment{
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.10);

}
.image_container {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto 24px;
  overflow: hidden;
}
.profile h1 {
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%; /* 39.6px */
  letter-spacing: 0.12px;
  margin-bottom: 24px;
}
.profile .selectImage {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 22px;
  /* width: 100%; */
  color: white;
  padding: 10px 35px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-radius: 6px;
  background: var(
    --Linear,
    linear-gradient(193deg, #b58e69 -30.12%, #8e6c4d 90.67%)
  );
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.03),
    0px 1px 3px 0px rgba(42, 51, 66, 0.06);
}
.ImageUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.profile h2 {
  color: #ad8460;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile form {
  background-color: transparent;
  box-shadow: none;
}

.profile form button {
  width: fit-content;
  width: 294px;
  height: 56px;
  padding: 16px 28px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  .profile {
    padding: 20px;
  }
  .profile form {
    padding: 0;
  }
  .image_container {
    width: 120px;
    height: 120px;
  }
}

/* Start Videos */
.videos {
  padding: 30px 0;
}
.videos h1 {
  font-weight: 600;
}
.day_finish {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
}
.day_finish h3 {
  font-size: clamp(18px, 2vw 32px);
  font-weight: 600;
  margin: 0;

}
.day_finish h3:last-of-type {
  color: #888181;
  font-weight: 400;
}
.head_phar {
  color: #888181;
  font-size: 24px;
  font-weight: 500;
}
/* .Main_Video div {
  width: 100% !important;
  height: 80vh !important;
} */
/* .Main_Video_mobile {
  position: relative;
  height: 100vh !important;
} */
/* .Main_Video_mobile div {
  height:100% !important;
  width: 100% !important;
  }
.Main_Video_mobile video{
  height: 100%;
  width: 100%;
} */
.Main_Video video {
  width: 100%;
  height: 100%;
}

/* stat video_card */
.video_card {
  text-decoration: none;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  align-items: center;
  /* justify-content: space-around; */
  margin-bottom: 24px;
}
.video_card .info h3 {
  font-family: "Poppins", sans-serif !important;

}
.Video_image {
  position: relative;
  width: 150px;
  height: 125px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 20px;
  overflow: hidden;
}
.Video_image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  opacity: .6;

}
.Video_image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 4;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start svg {
  color: white;
  font-size: 35px;
}
.info {
  align-self: flex-start;
}
.check {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.active {
  background: var(
    --Linear,
    linear-gradient(193deg, #b58e69 -30.12%, #8e6c4d 90.67%)
  );
}
.not_active {
  background-color: #d9d8d7;
}
.check svg {
  color: white;
  font-size: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.info h3 {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 600;
  margin: 0;
}

.info p {
  margin: 8px 0;
  color: #888181;
  /* font-size: 22px; */
  font-size: clamp(16px, 2vw, 18px);

  font-weight: 500;
  margin: 8px 0 0;
}
.Main_Video_mobile {
  display: none;
}

/* .Main_Video_mobile video {
  width: 100%;
} */
@media (max-width: 767.98px) {
  /* .Main_Video {
    display: none;
  } */
  /* .Main_Video{
    height: 100vh;
  } */
  /* .Main_Video div {
    height:100% !important;
    width: 100% !important;
    } */
  .Main_Video video {
    height: 100%;
    /* object-fit: cover; */
  }
  .videos {
    padding: 10px 0;
  }
  .videos h1 {
    text-align: left;
  }
  .day_finish {
    margin: 10px 0;
  }
  .Main_Video_mobile {
    display: block;
  }
  /* .Main_header {
    display: none;
  } */
  .video_card {
    /* justify-content: space-evenly; */
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.Order_summery  {
  padding: 20px;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.Order_summery .summer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.Order_summery .summer_header h1 {
  margin: 0;
  font-size: 18px;

}
.Order_summery .summer_header h1 span svg {
  font-size: 25px;
  color: #97A3B6;
}
.Order_summery .summer_header h3 {
  margin: 0;
  font-size: 18px;
}

.payment button {
  margin-top: 25px;
  width: 100% !important;
}
.package h4 {
  margin: 0;
}
.package_image{
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 10px;
}
.package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.package p {
  margin: 0;
  font-size: 16px;
}
.package_sub p:first-of-type {
  color: #677489;
  font-weight: 500;
}
.package_sub p:last-of-type {
  color: #111729;
  font-weight: 500;
}
.package_total p {
  font-weight: 700;
}
.package:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 767.98px)  {
  .package  .package_image {
    width: 60px;
    height: 60px;
    /* margin-right: 5px; */
  }
  .package h4 {
    font-size: 14px;
  }
}



.Tabel td,
.Tabel th {
  text-align: center !important;
}

/* .Tabel th {
  background-color: white !important;
} */

.Tabel th div {
 
  justify-content: center !important;
}
