/* .Program h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    width: fit-content;
    margin: 15px auto;
} */
.image_card {
  position: relative;
  width: 100%;
  height: 300px;
}
/* .Program ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.Program .check {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-bottom: 5px;
}

.Program .check span {
  color: #06c706;
  font-size: clamp(20px, 2vw, 25px);
}


.Program .check p {
  margin: 0;
  margin-left: 10px;
  font-size: clamp(20px, 2vw, 25px);

  /* font-weight: bold; */
}

.Ar_program .check p {
    margin: 0;
    margin-right: 10px;
}
.Program .check p span {
  font-weight: bold;
  color: black;
}

.second_title {
  color: #3e4452;

  font-size: clamp(20px, 2vw, 25px);
  font-weight: 600;
  margin: 15px auto;
  padding: 10px 15px;
  position: relative;
  text-align: center;
}

.program_p {
  font-size: clamp(20px, 2vw, 25px);
  text-align: center;
}

/* .price {
  font-size: 35px;
  color: var(--main_color);
  text-align: center;
}
.price del {
  color: gray;
  font-size: 25px;
} */
.price_offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.price_offer h5 {
  position: relative;
  font-size: 62px;
  margin-right: 15px;
  text-align: center;
  color: #ad8460;
}
.price_offer h5 span {
  font-size: 12px;
  color: #9e9999;
}
.price_offer h6 {
  position: relative;
  font-size: 42px;
  color: #9e9999;
}
.price_offer h6 span {
  font-size: 12px;
}
.price_offer h6::before,
.price_offer h5::before {
  content: "$";
  position: absolute;
  left: -5px;
  top: -5px;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}
.price_offer h6::before {
  left: -10px;
  top: -10px;
}

.liens {
  display: flex;
  align-items: center;
  justify-content: center;
}
.liens p {
  margin: 0;
  font-size: clamp(18px, 2vw, 22px);
  margin-left: 10px;
  text-align: center;
}

.liens span {
  /* color: #06c706; */
  font-weight: bold;
  font-size: clamp(20px, 2vw, 24px);
}
.liens p span {
  font-weight: bold;
  color: black;
}

.Dialog {
  padding: 10px;
}

.Dialog a {
  background-color: transparent;
  border: none;

  width: fit-content;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 18px;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: block;
  text-align: center;
  margin: 10px auto;
  border-radius: 6px;
  background: var(
    --Linear,
    linear-gradient(193deg, #b58e69 -30.12%, #8e6c4d 90.67%)
  );
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.03),
    0px 1px 3px 0px rgba(42, 51, 66, 0.06);
}

/* .Dialog a:hover {
  transform: scale(1.1);
  background-color: black;
  border-color: var(--main_color);
  color: white;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
} */

@media (max-width: 767.98px) {
  .Dialog_width {
    width: 95% !important;
  }
}
.progress {
  /* padding: 50px 0; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.progress .price_offer {
  justify-content: flex-start;
}
.progress .program_p {
  text-align: left;
  color: #5e5b5b;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.progress .program_p_2 {
  color: #5e5b5b;
  font-size: clamp(20px, 3vw,24px);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.card_image {
  position: relative;
  width: 100%;
  height: 350px;
}
.progress .Program ul {
  list-style: none;
  padding: 0;
}
.progress .Program ul li .check {
  display: flex;
  align-items: baseline;
}
.progress .Program ul li .check p {
  color: #272626;
  font-size: clamp(14px, 2vw 26px);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.progress .Program ul li .check span {
  font-weight: 500;

}
.dumbel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress .Program ul li .check span svg {
  color: var(--main_color);
}

.Personlized {
  padding: 20px 0;
}
.progress_bar {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: flex-start;
}
.image_week {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.week_head {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.week_head h3 {
  color: #272626;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.week h4 {
  color: #272626;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.week p {
  color: #7e7c7c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 20px;
}

.week_cont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week_cont .line {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.progress_bar .week_cont:first-of-type .line {
  width: 50%;
  margin-left: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.progress_bar .week_cont:last-of-type .line {
  width: 50%;
  margin-right: auto;
  justify-content: flex-end;
  align-items: flex-end;
}
.Ar_progress_bar .week_cont:first-of-type .line {
  width: 50%;
  margin-left: 0;
  margin-right: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.Ar_progress_bar .week_cont:last-of-type .line {
  width: 50%;
  margin-right: 0;
  margin-left: auto;
  justify-content: flex-end;
  align-items: flex-end;
}
.week_cont .line span:first-of-type {
  height: 1px;
  width: 100%;
  background: rgba(121, 121, 121, 0.26);
  display: block;
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: -1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.week_cont .line span:last-of-type {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(217, 217, 217, 0.92);
  border: 2px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 767.98px) {
  .progress {
    /* padding: 0; */
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .progress .program_p {
    display: none;
  }
 .progress .program_p_2 {
    display: none;
  }
  .progress .Program {
    display: none;
  }
  .progress .card_image {
    height: 200px;
  }
  .progress_bar {
    grid-template-columns: 1fr;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
      align-items: unset;
  }
  .week {
    padding: 5px 0;
  }
  .week_cont {
    flex-direction: row;
    align-items: baseline;
  }
  .week_head {
    justify-content: flex-start;
  }
  .week_cont .line {
    height: 100%;
    width: fit-content;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .week_cont .line span:first-of-type {
    width: 1px;
    height: 100%;
    left: 50%;
    bottom: 0%;
    z-index: -1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .progress_bar .week_cont:first-of-type .line {
    height: 100%;
    width: fit-content;
  }
  .progress_bar .week_cont:last-of-type .line {
    height: 100%;
    width: fit-content;
    justify-content: flex-start;
    margin-right: 15px;
  }
  .week_head h3 {
    text-align: left;
  }
  .week h4 {
    text-align: left;
  }
  .week p {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.days .day_finish {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.days h3 {
  color: #272626;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.days .day_finish p {
  margin: 0;
  color: #272626;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}
.days .Ar_day_finish h3 {
  font-family: "Poppins", sans-serif;
}
.days .Ar_day_finish p {
  margin: 0;
  margin-right: 10px;
}
.progress_week_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.progress_week .line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}
.progress_week .line span {
  display: block;
  /* width: 100%; */
  height: 1px;
  background-color: black;
  flex: 1;
}
.progress_week .line .circel {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.progress_week .line .circel svg {
  color: white;
  font-size: 24px;
}

.progress_week .line .not_circel {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d8d7;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.progress_week .line .not_circel svg {
  color: white;
  font-size: 24px;
}
.Ar_rotate  .days_number span:not(.cup) svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.progress_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
  width: 90%;
  margin-bottom: 20px;
}
.progress_info h4 {
  color: #272626;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.progress_info h4 span {
  color: #D2D2D2;
}
.time_line {
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.10);
  padding: 10px;
  background-color: white;
  width: 90%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.days_number {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-content: space-between; */
  align-items: center;
}

.days_number  {
  margin-bottom: 20px;
}
.days_number span {
  text-align: center;
  display: block;
}

.cup svg{
  width: 40px;
height: 40px;
color:  #B0A194;
}
.cup_active svg {
  color: var(--main_color);
}
.time_line .start_btn {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
  /* width: 100%; */
  color: white;
  padding: 10px 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-radius: 6px;
  background: var(
    --Linear,
    linear-gradient(193deg, #b58e69 -30.12%, #8e6c4d 90.67%)
  );
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.03),
    0px 1px 3px 0px rgba(42, 51, 66, 0.06);
    text-transform: capitalize;
}

.sub_course {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_course a {
  padding: 10px 15px;
  color: #716D6D;
  display: block;
  margin:0 10px 10px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: capitalize;
  font-size: 25px;
}

.sub_course .active {
  color: #B58E69;
  background-color: #FFF1E5;
}
.days_number  a {
  margin: 0;
  background-color:  #D9D8D7 !important;
  color: #918D8D !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%  !important;
  -webkit-border-radius: 50%  !important;
  -moz-border-radius: 50%  !important;
  -ms-border-radius: 50%  !important;
  -o-border-radius: 50%  !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Poppins", sans-serif !important;
}
.days_number .active {
 background-color: var(--main_color) !important;
 color: white !important;
}
@media (max-width: 767.98px) {

  .progress_week_grid{
    grid-template-columns: 1fr;
  }
  .progress_week {
    display: flex;
  }
  .progress_week .line {
    width: 60px;
    height: 100%;
    margin: 0;
    flex-direction: column;
  }
  .progress_week .line span {
    height: 100%;
    width: 1px;
    flex: 1;
  }
  .mobile_grid{
    flex: 1;
    margin-bottom: 20px;
  }
  .sub_course a {
    padding: 5px 10px;
    font-size: 22px;
    margin: 0 5px 10px;
  }

  .En_subCourses_Link {
    font-size: 16px !important;
  }

  .Ar_progress_bar .image_week {
    margin-right: 0;
    margin-left: 8px;
  }
}