.fitness_section {
  width: 100%;
  height: auto;
  padding: 60px 0 30px;
  @media (max-width: 991.98px) {
    padding: 40px 0 20px;
  }
  @media (max-width: 575.98px) {
    padding: 30px 0 15px;
  }
  .program_bx {
    --pad-x: 40px;
    --pad-y: 50px;
    width: 100%;
    height: 100%;
    padding: var(--pad-y) var(--pad-x);
    background-color: var(--white_color);
    border: 1px solid rgba(#c08450, 0.3);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 991.98px) {
      --pad-x: 20px;
      --pad-y: 30px;
    }
    @media (max-width: 575.98px) {
      --pad-x: 10px;
      --pad-y: 15px;
    }
    & > * {
      padding-left: calc(calc(var(--pad-x) / 2));
      padding-right: calc(calc(var(--pad-x) / 2));
    }
    .lftSd {
      width: calc(100% - 360px);
    }
    .rgtSd {
      width: 360px;
    }
    .img_outer {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 0;
      .info_offer {
        font-size: 26px;
        line-height: 10px;
        font-weight: 700;
        color: var(--white_color);
        width: 70px;
        height: 70px;
        padding: 25px 0;
        background-color: var(--black_color);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media (max-width: 991.98px) {
          font-size: 22px;
          width: 60px;
          height: 60px;
          padding: 15px 0;
        }
        @media (max-width: 575.98px) {
          font-size: 18px;
          width: 50px;
          height: 50px;
          padding: 10px 0;
        }
        .sm {
          font-size: 50%;
          line-height: 1;
        }
      }
      .img_wrap {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
      }
    }
    .info_price {
      font-size: 48px;
      line-height: 1;
      font-weight: 600;
      color: #9e6439;
      display: flex;
      @media (max-width: 1551.98px) {
        font-size: 34px;
      }
      @media (max-width: 991.98px) {
        font-size: 24px;
      }
      @media (max-width: 575.98px) {
        font-size: 18px;
      }
      .old_price {
        font-size: 80%;
        color: #999999;
        padding: 5px 15px;
        & > span {
          text-decoration: line-through;
        }
      }
      & > span {
        display: inline-block;
        position: relative;
        sup {
          font-size: 0.5em;
        }
      }
    }
  }
  .list_bx {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #f8f0e9;
    @media (max-width: 991.98px) {
      padding: 15px 20px;
    }
    @media (max-width: 575.98px) {
      padding: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        position: relative;
        z-index: 0;
        padding-left: 50px;
        margin: 20px 0;
        @media (max-width: 991.98px) {
          margin: 15px 0;
        }
        @media (max-width: 575.98px) {
          margin: 10px 0;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../public/images/icon-list.svg");
          width: 32px;
          height: 16px;
        }
      }
    }
  }
  .btnWrap {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 991.98px) {
      margin-top: 15px;
    }
    @media (max-width: 575.98px) {
      margin-top: 10px;
    }
  }
}

.personlized_section {
  width: 100%;
  height: auto;
  padding: 30px 0;
  @media (max-width: 991.98px) {
    padding: 20px 0;
  }
  @media (max-width: 575.98px) {
    padding: 15px 0;
  }
  .dFlx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
    @media (max-width: 1551.98px) {
      margin: 0 -10px;
    }
    @media (max-width: 575.98px) {
      margin: 0 -5px;
    }
    & > .item {
      width: calc(100% / 4);
      padding: 20px;
      @media (max-width: 1551.98px) {
        padding: 10px;
      }
      @media (max-width: 991.98px) {
        width: calc(100% / 3);
      }
      @media (max-width: 575.98px) {
        width: 100%;
        padding: 5px;
      }
    }
  }
  .wkBox {
    width: 100%;
    height: 100%;
    text-align: center;
    &>*{
      margin: 15px 0;
      @media (max-width: 991.98px) {
        margin: 10px 0;
      }
      @media (max-width: 575.98px) {
        margin: 5px 0;
      }
    }
    .icon {
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 0;
      @media (max-width: 991.98px) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: 575.98px) {
        width: 20px;
        height: 20px;
      }
      img, svg{
        width: 100%;
        height: 100% !important;
      }
    }
    .tle {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;
      @media (max-width: 991.98px) {
        font-size: 16px;
      }
      @media (max-width: 575.98px) {
        font-size: 14px;
      }
    }
    .txt {
      font-size: 16px;
      line-height: 1.4;
      font-weight: 400;
      @media (max-width: 991.98px) {
        font-size: 14px;
      }
      @media (max-width: 575.98px) {
        font-size: 12px;
      }
    }
    .line {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 0;
      span {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid var(--main_color);
        background: #d9d9d9;
        display: block;
        margin: auto;
        @media (max-width: 991.98px) {
          width: 14px;
          height: 14px;
        }
        @media (max-width: 575.98px) {
          width: 10px;
          height: 10px;
        }
      }
    }
    .tle {
      h4 {
        font-size: 24px;
        line-height: 1;
        font-weight: 600;
        color: var(--base_color3);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media (max-width: 1551.98px) {
          font-size: 22px;
        }
        @media (max-width: 991.98px) {
          font-size: 20px;
        }
        @media (max-width: 575.98px) {
          font-size: 18px;
        }
      }
    }
    .cntWrap{
      width: 100%;
      height: 200px;
      padding: 20px;
      background-color: var(--white_color);
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 991.98px) {
        height: 180px;
        padding: 15px;
      }
      @media (max-width: 575.98px) {
        height: 160px;
        padding: 10px;
      }
      &>*{
        margin: 6px 0;
        @media (max-width: 575.98px) {
          margin: 4px 0;
        }
      }
      h5{
        @extend .tle;
      }
      p{
        @extend .txt;
      }
    }
  }
}
